body{background-color:#f5fbf1}#logo{width:50%;height:auto;margin:-120px;margin-left:-150px}#team{width:1300px;height:auto;margin-left:-65px;margin-top:-100px;padding:20px}#emailLogo{width:900px;height:auto;margin-top:-100px;margin-bottom:-50px}#welcome{font-family:mulish,sans-serif;color:#606060;font-size:30px;font-weight:600;margin-top:-30px}.card{box-shadow:0 4px 8px 0 rgba(0,0,0,.2);width:83%;margin:auto;text-align:center;font-family:arial;border-radius:10px}.title{color:grey;font-size:18px}.account button{border-radius:50px;border:none;display:inline-block;padding:5px;color:#000;background-color:#fbbc05;text-align:center;cursor:pointer;width:80%;font-size:15px}.account button:hover{background-color:#e0a800}@media(max-width:575.98px){.left,.right{display:none}}@media(max-width:767.98px){.left,.right{display:none}}@media(max-width:767.98px){#emailLogo{width:900px;height:auto;margin-top:10px;margin-bottom:5px}}
/*
     FILE ARCHIVED ON 00:58:59 Dec 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:39:54 Mar 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.116
  exclusion.robots.policy: 0.103
  cdx.remote: 0.097
  esindex: 0.012
  LoadShardBlock: 2686.279 (6)
  PetaboxLoader3.resolve: 4326.686 (3)
  PetaboxLoader3.datanode: 87.94 (7)
  load_resource: 1824.032
*/